:root{
    --background: rgb(195, 195, 195);
    --strike: rgb(183, 183, 183);
    --page-color: #ffffff;
    --sec-color: rgb(216, 216, 216);
    --tert-color:rgb(255, 255, 255);
    --text-color:rgb(0, 0, 0);
    --shadow-color:rgba(0, 0, 0, 0);
    --icon-background: rgb(74, 74, 74);
}
.darkmode{
    --background: #282828;
    --strike: rgb(90, 90, 90);
    --page-color: #282828;
    --sec-color: rgb(102, 102, 102);
    --tert-color:rgb(74, 74, 74);
    --text-color:rgb(255, 255, 255);
    --shadow-color:rgb(97 97 97);
    --icon-background: rgb(255, 255, 255);
}
*{
    margin: 0;
    padding: 0;
}
.list-container{
    display:flex;
    min-height: 100vh;
    width: 100%;
    background-color: var(--background);
    background-image: url(images/adobe_design-modified.jpeg);
    background-position: center;
   
}
.page{
    width: 100%;
    margin: 35px 15%;
    border-radius: 12px;
    background-color: var(--page-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 40px;
    box-shadow: 0px 0px 10px 3px var(--shadow-color);
}
.heading p{
    font-family: amatic-bold;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
    color: var(--text-color);
    
}
#theme-switch{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--icon-background);
    transition: 0.2s all ease ;
    box-shadow: 0px 0px 5px 1px black;
}
#theme-switch:hover{
    scale: 1.05;
}#theme-switch:active{
    scale: 0.95;
}
#theme-switch svg{
    fill: var(--page-color);
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    fill: var(--page-color);
    display: block;
}
.arrow{
    width: 178px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/arrow-underline.jpg);
    background-color: transparent;
}
.input-field{
    margin-top: 20px;
    position: relative;
}
.input-field input{
    position: relative;
    width: 30vw;
    outline: none;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: var(--page-color);
    border-radius: 7px;
    padding: 5px 15px;
    font-size: 1.7rem;
    margin: 10px 0px;
    font-family: handlee;
}
.placeIn{
    position: absolute;
    top: 27%;
    left: 3%;
    font-size: 1.6rem;
    background-color: var(--page-color);
    color: var(--strike);
    transition: all ease 0.3s;
}
.input-field input:focus + .placeIn{
    top: -5%;
    left: 2.7%;
    width: 41px;
    text-align: center;
    color: var(--text-color);
    font-size: 0.9rem;
}
.input-field button{
    position: absolute;
    padding: 7px 8px;
    font-size: 1.7rem;
    border-radius: 7px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background-color: var(--tert-color);
    cursor: pointer;
    transition: all ease 0.2s;
    right: 0;
    top: 16%;
}
.input-field button:hover{
    background-color: var(--sec-color);
}
.input-field button:active{
    scale: 0.95;
}


.noItem{
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: handlee;
}
.list-og{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}
.list-items{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    border-bottom: 1px solid var(--text-color);
    /* align-items: center; */
}
input[type="checkbox"] {
    width: 37px;
    cursor: pointer;
    color: #282828;
}
input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: var(--strike);
}
.list-items p{
    padding: 0 27px;
    font-size: 2.2rem;
    flex-grow: 1;
    text-align: left;
    align-items: center;
    font-family: handlee;
}
.list-items button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.dustbin svg {
    width: 40px;
    height: 40px;
    fill: rgb(97 97 97);
    transition: 0.2s all ease;
}
.dustbin svg:hover{
    scale: 1.1;
}
.dustbin svg:active{
    scale: 0.93;
}

@media screen and (max-width: 850px){
    
    body{
        background-image: url(images/adobe_design-modified.jpeg);
    }
    .list-container{
        min-height: 80vh;
        background-image: none;
        background-color: transparent;
    }
    .page{
        margin: 35px 4%;
        min-height: 70vh;
    }
    .input-field input{
        width: 65vw;
        font-size: 1.2rem;
    }
    .placeIn{
        font-size: 1.1rem;
    }
    .input-field button{
        padding: 6px 8px;
        font-size: 1.2rem;
        top: 19%;
    }
    .heading p{
        font-size: 2.5rem;
    }
    .arrow{
        width: 119px;
    }
    input[type="checkbox"] {
        width: 20px;
    }
    .list-items p{
        padding: 0 27px;
        font-size: 1.7rem;
    }
    .dustbin img {
        width: 30px;
    }
    .list-items{
        margin-top: 30px;
        width: 90%;
    }
}

/* accessibility */
@font-face {
    font-family: amatic-light;
    src: url(fonts/AmaticSC-Regular.ttf);
}
@font-face {
    font-family: amatic-bold;
    src: url(fonts/AmaticSC-Bold.ttf);
}
@font-face {
    font-family: handlee;
    src: url(fonts/Handlee-Regular.ttf);
}
